.auth-page {
  min-height: 100vh;
  background: linear-gradient(to right, #2563eb, #1e40af);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.auth-wrapper {
  display: flex;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  max-width: 900px;
  width: 95%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.auth-info {
  flex: 1;
  padding: 40px;
  background: #1e293b;
  color: white;
}

.auth-info h1 {
  margin-bottom: 15px;
  font-size: 28px;
}

.auth-info p {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.auth-info ul {
  list-style: none;
  padding: 0;
}

.auth-info li {
  margin-bottom: 10px;
  font-size: 14px;
}

.auth-card {
  flex: 1;
  padding: 40px;
}

.auth-card h2 {
  text-align: center;
  color: #1e40af;
  margin-bottom: 5px;
}

.auth-subtitle {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-group label {
  font-size: 13px;
  color: #374151;
}

.input-group input {
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

.input-group input:focus {
  outline: none;
  border-color: #2563eb;
}

.auth-btn {
  margin-top: 20px;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #1e40af;
}

.auth-footer-text{
  cursor: pointer;
}
@media (max-width: 768px) {
  .auth-wrapper {
    flex-direction: column;
  }

  .auth-info {
    text-align: center;
  }
}
